form {
  width: 100%;

  input {
    font-family: $font-family-base;
  }

  .mc4wp-form-fields,
  .mailchimp-form {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 3rem;

    @include media-above($break-large) {
      margin-bottom: 7.25rem;
    }

    > input {
      flex: 1 1 auto;
      height: 4rem;
      font-size: 1.2rem;

      @include media-above($break-large) {
        height: 6.25rem;
        font-size: 2.5rem;
      }

      &[type="email"] {
        padding: 1.5rem;
        border: 1px solid $grey;

        @include media-above($break-large) {
          padding: 0 2rem;
          flex: 1 1 75%;
        }
      }
      &[type="submit"] {
        display: flex;
        justify-content: center;
        width: initial;
        padding: 1rem;
        text-align: center;

        @include media-above($break-large) {
          width: initial;
          align-items: center;
          flex-direction: column;
        }
      }

      &[type="submit"]:hover {
        border: 1px solid $grey;
        cursor: pointer;
        background: $white;
        color: $black;
      }
    }
  }

  .mailchimp-form {
    margin-bottom: 0;
  }
}
