/**
 * partials/header
 * ---
 */


// Header container
.header {
  display: flex;

  h1 {
    position: relative;

    span {
      position: absolute;
      left: -999px;
    }
  }
}

.icon-menu {
  @include media-above($break-large) {
    display: none;
  }
}
