/**
 * partials/header
 * ---
 */


// Header container
.header {
  display: flex;
  position: fixed;
  z-index: 9;
  flex-direction: column;
  width: 100%;

  @include media-above($break-large) {
    position: static;
  }

  h1 {
    position: relative;

    span {
      position: absolute;
      left: -9999px;
    }
  }
}

.icon-menu {
  @include media-above($break-large) {
    display: none;
  }
}
