// Generic layout styles

.bg-black {
  background-color: $black;
  color: $white;

  a {
    color: $white;
  }
}

.banner-image {
  position: absolute;
  top: 0;
  height: 47rem;
}

.site-content {
    padding-top: 47rem;
}
