.button {
  font-size: 2rem;
  width: 100%;
  display: flex;
  background-color: $black;
  color: $white;
  padding: 2rem;
  text-transform: uppercase;

  @include media-above($break-medium) {
    max-height: 100px;
  }

  &:hover {
    text-decoration: none;
    background-color: $white;
    color: $black;
  }

  &--white,
  .bg-black & {
    background-color: $white;
    color: $black;

    &:hover {
      background-color: $black;
      color: $white;
    }
  }

  &--center {
    width: 100%;
    margin: 5rem auto 1rem;
    justify-content: center;

    @include media-above($break-large) {
      width: auto;
      min-width: 43rem;
      margin: 10rem auto 1rem;
    }
  }

  &-expand {
    margin-top: 6.5rem;
  }
}

.menu-link {
  position: relative;
  padding: 1.3rem;
  background-color: $white;

  span {
      position: absolute;
      left: -9999px;
      height: 2.2rem;
  }
}

.sister-buttons {
  margin-top: auto;
}
