.button {
  font-size: 2rem;
  width: 100%;
  display: flex;
  background-color: $black;
  color: $white;
  padding: 2rem;
  text-transform: uppercase;

  @include media-above($break-medium) {
    max-height: 100px;
  }

  &:hover {
    text-decoration: none;
    background-color: $white;
    color: $black;
  }

  &--white,
  .bg-black & {
    background-color: $white;
    color: $black;

    &:hover {
      background-color: $black;
      color: $white;
    }
  }

  &--center {
    width: initial;
    margin: 5rem auto 1rem;

    @include media-above($break-large) {
      margin: 10rem auto 1rem;
    }
  }
}

.sister-buttons {
  margin-top: auto;
}
