.panel-container {
  display: flex;
  flex-wrap: wrap;

  &--border {
    margin-top: 1.2rem;

    > h2 {
      border-top: 1px solid $grey;
      display: flex;
      flex: 1 1 100%;
    }
  }

  &--full-page {
    padding-top: 3.5rem;
  }

  .panel {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 2.2rem;

    &--no-margin {
      margin-top: 0;
      padding-top: 0;
    }

    &--button {
        min-height: 30rem;

        @include media-above($break-large) {
          min-height: 37rem;
        }
    }

    &--border {
        border-top: 1px solid $black;

        &:nth-of-type(2){
          border-top: 0;

          @include media-above($break-large) {
            border-top: 1px solid $black;
          }
        }
    }

    &--full-width {
      padding-right: 0;
      padding-left: 0;

      &:first-of-type {
        .panel--fw-inner {
          margin-right: 0;
          margin-left: 0;

          @include media-above($break-large) {
            margin-right: 0.6rem;
          }
        }
      }

      &:nth-of-type(2) {
        .panel--fw-inner {
          margin-left: 0;
          margin-right: 0;

          @include media-above($break-large) {
            margin-left: 0.6rem;
          }
        }
      }

      .panel--fw-inner {
        display: flex;
        flex-direction: column;

        .lined-text {
          border-bottom: 1px solid $grey;
        }

        &.border-top {
          border-top: 1px solid $grey;
        }

        > img {
          width: 50%;
          margin: 0 auto;

          @include media-above($break-large) {
            margin: 0;
          }
        }
      }

      h3 {
        border-top: 1px solid $grey;
        padding-left: 0;
        padding-top: 0.25rem;

        @include media-above($break-large) {
          padding-left: 1.5rem;
        }
      }

      .lined-text {
        margin-top: 0;
        margin-bottom: 6.25rem;

        @include media-above($break-medium) {
          margin-bottom: 8.75rem;
          padding-left: 7.5rem;
        }
      }
    }

    .panel-text {
      margin-top: 0;
    }
  }

  // Hide/show panels
  .click-panels {
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;

    .primary-panels-display,
    .tertiary-panels {
      & > .panel {
        display: none;
        padding: $half-gutter-width;
        padding-top: 1.5rem;

        @include media-above($break-large) {
          padding-top: 3.1rem;
        }

        &.js-active {
          display: block;
        }
      }

      // Multi-step panels
      &.panels-multi-step {
        .panel {
          text-align: center;

          h4 {
            font-size: 5.3rem;
          }

          &.panel1 {
            padding-top: 12.5rem;
          }
        }
      }
    }

    .primary-panels-display {
      .panel2 {
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
      }
    }

    .secondary-panels {
      & > .panel {
        padding-top: 1.5rem;

        @include media-above($break-large) {
          padding-top: 4.1rem;
        }
      }
    }
  }

  &.primary-panels,
  &.secondary-panels {
    & > .panel {
      display: flex;
      width: 50%;
      padding: $half-gutter-width;
      border-bottom: 1px solid $black;
      position: relative;
      text-align: center;

      @include media-above($break-large) {
        text-align: left;
      }

      & > a {
        margin-top: auto;
        margin-bottom: auto;
        text-decoration: none;
      }

      h3 {
        font-size: 1.8rem;
        @include media-above($break-large) {
          font-size: 5.4rem;
        }
      }

      &.js-active {
        border-top: 1px solid $white;
        border-bottom: 0;
        background: $black;
        color: $white;

        &:after {
          top: 100%;
          left: 50%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-color: rgba(0, 0, 0, 0);
          border-top-color: $black;
          border-width: 25px;
          margin-left: -25px;

          @include media-above($break-large) {
            border-width: 50px;
            margin-left: -50px;
          }
        }

        a {
          color: $white;
        }
      }
    }
  }
}
