.search {
  margin-bottom: 2.8rem;
  display: flex;
  width: 50%;

  &> div {
    display: flex;
    height: 2.3rem;
    flex: 1 1 auto;
  }

  .search-input {
    padding-left: 1rem;
    flex: 1 1 auto;
  }

  .search-submit {
    flex: 1 1 auto;
    text-transform: uppercase;
    color: $white;
    background: $black;
    border: 0;
    font-family: $font-family-base;

    &:hover {
      background: $white;
      color: $black;
      border: 2px solid $black;
    }
  }
}
