.section-content {
  width: 100%;
}

.panel-container {
  display: flex;

  &--border {
    margin-top: 1.2rem;
  }

  .panel {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 2.2rem;

    &--border {
      @include media-above($break-medium) {
        border-top: 1px solid $black;
      }
    }
  }
}

// Hero banner
.hero {
  .image-mask {
    position: relative;
    max-height: 43rem;
    overflow: hidden;

    h1 {
      position: absolute;
      top: 0;
    }
  }
}


// Map sections
.map-text {
  h2, p {
    font-size: 5.6rem;
  }

  h2 {
    margin-bottom: 4.3rem;
  }

  p {
    margin: 0;
  }
}
