.section-content {
  width: 100%;
}

// Hero banner
.hero {
  .image-mask {
    position: relative;
    max-height: 25rem;
    overflow: hidden;

    @include media-above($break-large) {
      max-height: 43rem;
    }

    h1 {
      position: absolute;
      top: 8rem;
      left: 1rem;

      @include media-above($break-large) {
        top: 8rem;
      }
    }

    img {
      max-width: initial;

      @include media-above($break-large) {
        max-width: 100%;
      }
    }
  }
}


// Map sections
.map-text {
  padding-left: 0;
  min-height: 40rem;

  @include media-above($break-large) {
    min-height: 44rem;
  }

  h2, p {
    font-size: 4rem;

    @include media-above($break-large) {
      font-size: 5.6rem;
    }
  }

  h2 {
    margin-bottom: 4.3rem;
  }

  p {
    font-family: $font-family-headings;
    text-transform: uppercase;
    margin: 0;
  }

  .panel-container--full-page & {
    padding-top: 0.5rem;
    min-height: 42rem;
  }
}

.section-footer {
  padding-bottom: 9rem;
}

.prices-section {
  display: flex;
  flex-flow: row wrap;
  margin-top: 6.25rem;

  .price-slide {
    margin-bottom: 1rem;
    display: flex;

    .price-slide-inner {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      background: $black;
      color: $white;
      padding-top: 1rem;
      padding-left: 1rem;

      .sister-buttons {
        padding-right: 1rem;
      }

      .button {
        background: $white;
        color: $black;
      }
    }
  }
}
