.lined-text {
    background: linear-gradient(transparent, transparent 35px, $grey 35px);
    background-size: 38px 38px;
    border-top: 2px solid $grey;
    border-bottom: 1px solid $grey;
    margin: 1rem 0;

    p {
      line-height: 2.4rem;
      margin: 0;

      @include media-above($break-medium) {
        max-width: 80%;
      }
    }

    .panel-button & {
      margin-bottom: 4rem;
    }
}
