h1, h2, h3 {
  font-family: $font-family-headings;
  word-wrap: break-word;
}

h1 {
  font-size: 3rem;

  @include media-above($break-large) {
    font-size: 8.75rem;
  }

  &.page-title {
    margin-top: 8.25rem;
    margin-bottom: 14rem;
  }

  &.panel-heading {
    font-size: 3.1rem;
    margin-bottom: 3.75rem;

    @include media-above($break-large) {
      padding-right: 10%;
      font-size: 5.6rem;
    }
  }
}

h2 {
  font-size: 3.1rem;

  @include media-above($break-large) {
    font-size: 5rem;
  }

  &.panel-title {
    margin-bottom: 3.5rem;
  }

  &.team-title {
      font-size: 5rem;
      padding-top: 2rem;
  }
}

h3 {
  font-size: 3.12rem;
}

p {
  font-size: 1.5rem;

  &.no-margin {
    margin: 0;
  }

  &.quote {
    border-top: 1px solid $grey;
    font-size: 3.1rem;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 2rem;
    padding-top: 2rem;

    @include media-above($break-large) {
      border-top: 0;
      margin-top: 9.3rem;
    }
  }

  &.title {
    font-size: 3.1rem;
    font-family: $font-family-headings;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 4rem;

    @include media-above($break-large) {
      margin-bottom: 5rem;
    }

    &--member {
      margin-top: 0;
      font-size: 2.5rem;
      border-top: 1px solid $grey;
      border-bottom: 1px solid $grey;
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;

      @include media-above($break-large) {
        padding-bottom: 1rem;
      }
    }
  }

  &.testimonial {
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 3rem;

    @include media-above($break-large) {
      font-size: 2.5rem;
      line-height: 3.75rem;
      padding-right: 3rem;
    }
  }

  &.text-large {
    font-size: 3rem;
    margin: 0;
    padding-right: 15%;

    @include media-above($break-large) {
      font-size: 5.6rem;
    }
  }

  &.border-top {
    border-top: 1px solid $grey;
    margin-top: 8.75rem;
    margin-bottom: 6.2rem;
    padding-right: 0;
  }
}
