h1, h2, h3 {
  font-family: $font-family-headings;
  word-wrap: break-word;
}

h1 {
  font-size: 3rem;

  @include media-above($break-large) {
    font-size: 8.75rem;
  }
}

h2 {
  font-size: 5rem;

  &.panel-title {
    margin-bottom: 3.5rem;
  }
}

h3 {
  font-size: 3.12rem;
}

p {
  font-size: 1.5rem;

  &.no-margin {
    margin: 0;
  }
}
