/**
 * Base SCSS
 */
.wrap{
	width: 100%;
	height: 100%;
	padding: 20px 1rem;

	@include r(1024)  {
		padding: 20px 40px;
	}

	ul {
		margin-left: 20px;

		li {
			margin-top: 5px;
		}
	}
}

.content{
	display: inline-block;
	width: 100%;
	vertical-align: middle;
	margin: 0 auto;
	text-align: left;

	> .search-results {
	  float: left;
	  margin: 20px 0 0;
		width: 100%;
		font-size: 22px;
		display: block;

		p {
			margin: 0;
		}

	}
}

b, strong {
	color: $color--primary;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;

}

.sidebar-wrapper {
	align-items: stretch;
}

.sitewide-seach {
	margin: 30px 20px;

	li {
		margin-bottom: 10px;
		a {
			color: $color--primary;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}
}
