/**
 * modules/fonts
 * ---
 * Declare fonts here
 */

@font-face {
    font-family: 'zbysek_momentumextrabold';
    src: url('fonts/zbysekmomentum-extrabold-webfont.woff2') format('woff2'),
         url('fonts/zbysekmomentum-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'zbysek_momentummedium';
    src: url('fonts/zbysekmomentum-medium-webfont.woff2') format('woff2'),
         url('fonts/zbysekmomentum-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
