.button {
	font-family: 'DINPro-Medium', sans-serif;
	padding: 20px 40px;
	display: inline-block;
	background-color: color(black);
	color: color(white);
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;

	&:hover {
		background-color: color(blue);
	}

	&.blue {
		background-color: color(blue);
	}

	&.button-expand {
		margin-bottom: 100px;
	}
}

.sister-buttons {
	.button {
		margin-bottom: 10px;
		padding: 20px;
		min-width:170px;

		@include media-above($break-large) {
			margin-bottom: 0;
			padding: 20px 40px;
			min-width: 220px;
		}

		&:first-child {
			@include media-above($break-large) {
				margin-right: 10px;
			}
		}
	}
}
