.lightbox-columns {
	display:none;

	h3 {
		width: 90%;
		margin: 0 auto 15px;
		font-family: 'thirsty_roughlight';

		@include media-above($break-large) {
			color: color(white);
			font-size: 72px;
		}
	}

	.subtitle {
		width: 90%;
		margin: 0 auto;
		
		@include media-above($break-large) {
			font-size: 30px;
			max-width: 500px;
		}

		&:after {
			color: color(blue);
		}
	}

	.panel-container {

		p {
			margin: 20px auto;
			max-width: 340px;
			font-family: 'DINPro-Medium';

			&.column-intro {
				max-width: 400px;
			}
		}

		.intro-cost {
			font-size: 30px;
			font-family: 'din_mittel_bold';
			display: block;
			letter-spacing: 1px;
		}		
	}

	h4 {
		font-size: 24px;

		@include media-above($break-large) {
			font-size: 36px;
		}
	}

	.panel {
		&:before {
			@include media-above($break-large) {
				height: 90%;
				background-color: color(darkborder);
			}
		}
	}

	.horizonal-division {
		clear: both;
		position: relative;
		padding: 10px 0 60px;
		display: inline-block;

		&:after {
			content: '';
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			bottom: 0;
			width: 285px;
			height: 1px;
			background-color: color(darkborder);
			margin: 30px auto;
			display: block;
		}
	}

	.column-division-title {
		font-size: 60px;
		font-family: 'thirsty_roughlight';
		color: color(blue);
	}

	.zigzag-post {
		text-transform: uppercase;
		display: block;
		font-size: 16px;
		font-family: 'din_mittel_bold';
		margin-bottom: 45px;

		&:after {
			content: '';
			background: url('images/zigzag.png') 0 0 no-repeat transparent;
			width: 58px;
			display: block;
			margin: 15px auto;
			height: 11px;
		}
	}

	.icon-arrow_up {
		&:before {
			border-radius: 50px;
			border: 1px solid;
			font-size: 30px;
			border-color: #00baff;
			padding: 24px 18px;
			color: color(white);
			border-color: color(white);
		}

		&:hover {
			&:before {
				color: color(blue);
				border-color: color(blue);
			}
		}
	}

	ul {
		padding: 0;
		list-style-type: none;

		li {
			position: relative;
			padding-bottom: 30px;


			&:before {
				content: '+';
				font-size: 20px;
				position: absolute;
				bottom: 0;
				color: color(blue);
				right: 50%;
				transform: translateX(-50%);
			}


			&.double {
				float: left;
				width: 50%;

				&:before {
					content: '+';
					font-size: 20px;
					top: 50%;
					transform: translateY(-50%);
					position: absolute;
					color: color(blue);
					right: 100%;
				}

				&:first-child,
				&:last-of-type {
					&:before {
						content: none;
					}
				}
	
			}

			&:last-of-type {
				&:before {
					content: none;
				}
			}
		}
	}

	.class-name {
		text-transform: uppercase;
		font-size: 16px;
		max-width: 150px;
		line-height: 22px;
		display: block;
		margin: 0 auto 20px;

		&.bold {
			font-size: 30px;
			text-transform: uppercase;
			display: block;
			max-width: 200px;
			font-family: 'din_mittel_bold';
		}
	}

	.class-duration {
		color: color(blue);
		font-size: 20px;
	}

	.button {
		margin-top: 30px;
	}

	img {
		height: 130px;
		margin-bottom: 20px;
	}

	.bottom-title {
		max-width: 400px;
		color: color(blue);
		margin: 30px auto 10px;
	}

	.contact-email,
	.contact-tel {
		color: color(white);
	}
}

.lightbox-content {
	.lightbox-columns {
		display: block;
		padding-bottom: 100px;
	}
}