.button {
  font-size: 1.2rem;
  width: 100%;
  display: flex;
  background-color: $black;
  border: 1px solid $black;
  color: $white;
  padding: 2rem;
  text-transform: uppercase;
  transition: 0.3s;

  @include media-above($break-medium) {
    font-size: 2rem;
    min-height: 100px;
  }

  &:hover {
    text-decoration: none;
    background-color: $white;
    color: $black;
  }

  &--white,
  .bg-black & {
    border: 1px solid $white;
    background-color: $white;
    color: $black;

    &:hover {
      background-color: $black;
      color: $white;
    }
  }

  &--center {
    width: 100%;
    margin: 5rem auto 1rem;
    justify-content: center;

    @include media-above($break-medium) {
      width: 100%;
      max-width: 43rem;
    }

    @include media-above($break-wide) {
      width: 43rem;
      margin: 10rem auto 1rem;
    }
  }

  &--v-center {
    margin: 3rem auto 3rem;

    @include media-above($break-large) {
      margin: 5.5rem auto 5.5rem
    }
  }

  &-expand {
    margin-top: 6.5rem;
    margin-bottom: 3.75rem;
  }
}

.menu-link {
  position: relative;
  padding: 1.3rem;
  background-color: $white;

  span {
      position: absolute;
      left: -9999px;
      height: 2.2rem;
  }
}

.sister-buttons {
  margin-top: auto;
}

a {
  transition: 0.3s;

  &:hover {
    text-decoration: none;
  }
}
