// ==== GENERAL ==== //

html {
  font-size: 18px;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: color(white); 
  color: color(text);
  font-family: "Helvetica Neue", Helvetica, Arial, "Nimbus Sans L", "Liberation Sans", Arimo, sans-serif;
  line-height: 1.44444;
}

figure {
  margin: 0;
}
img {
  height: auto;
  max-width: 100%;
}

section {
	text-align: center;
	
	&.bg-img-section {
		position: relative;
		overflow: hidden;
	}
	
	&.bg-blue-section {
		background-color: color(blue);
		
		h1, h2, p, .button {
			color: color(white);
		}
	}
	
	&.bg-grey-section {
		background-color: color(stone);
	}

	&.bg-black-section {
		background-color: color(black);
		
		h1, h2 {
			color: color(blue);
		}

		p, .button, a {
			color: color(white);
		}
	}
	
	.section-content {
		margin-bottom: 0;
		padding: 80px 0;

		h1, h2 {
			margin: 0;
		}
	}

	&.section-carousel {
		height: 715px;
		overflow: hidden;
	}
}