// ==== LAYOUT ==== //

// These wrappers allow for backgrounds and layout options to be defined for each of the four sections (header, content, sidebar, and footer)
// There is also a fifth meta-wrapper to bind content and sidebar on large screens

// A general wrapper for various site elements
%wrap {
	box-sizing: border-box; // Makes life a little easier
	padding: 0 spacer(1/2) 0 spacer(1/2);
}

.wrap-footer {
	@extend %wrap;
	background: color(blue);
	@include media-above($break-large) {
		padding: 0 30px;
	}
}
.site-header,
.site-footer {
	width: 100%;

	@include media-above($break-large) {
		@include scut-center-block($width-site);
		width: 100%;
		max-width: $width-site;
	}
}
.site-title {
	margin-top: 0;
}
.site-description {
	@extend %hide;
}
.site-content, .section-content {
	width: 100%;

	@include media-above($break-large) {
		@include scut-center-block($width-site);
		width: 100%;
		max-width: $width-site;
		z-index: 1;
	}
}
.site-navigation {
	display: none;
	@include media-above($break-large) {
		display: inline-block !important; // Handles an edge case where user resizes after menu is hidden on smaller screens
	}
	&.active {
		display: block;
	}
}
.alignright {
	float: right;
}
.alignleft {
	float: left;
}
.js-hidden {
	display: none;
}

// Horizontally divided page

.horizontal-divide-container {
	position: relative;

	.bg-black-divide {
		position: absolute;
		background: color(black);
		height: 320px;
		width: 100%;
		z-index: -1;
		bottom: 0;

		@include media-above($break-large) {
			height: 478px;
		}
	}
}
