h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'din_mittel_bold', sans-serif;
	color: color(blue);
	font-weight: normal;
	line-height: 1;
}

h1, h2 {
	font-size: 48px;
	text-align: center;

	@include media-above($break-large) {
		font-size: 100px;
	}
}

h3 {
	font-size: 30px;

	@include media-above($break-large) {
		font-size: 50px;
	}

	&.heading-reduced {
		font-size: 30px;

		@include media-above($break-large) {
			font-size: 45px;
		}		
	}
}

h4 {
	text-transform: uppercase;
}

a {
	border: 0;
	color: color(blue);
	text-decoration: none;
	transition: all .4s ease-out;

	&:hover {
		color: color(black);
	}

	&:before {
		transition: all .4s ease-out;
	}

	&.icon {
		span {
			text-indent: -9999px;
			white-space: nowrap;
			display: block;
			overflow: hidden;
		}
	}

	&.med-link {
		margin: 0 auto;
		font-size: 16px;
		font-family: 'DINPro-Medium';

		@include media-above($break-large) {
			font-size: 30px;
		}
	}

	&.small-link {
		text-decoration: underline;
		font-size: 18px;
		font-family: 'din_mittel_regular', sans-serif;
	}
}

button {
	&.icon {
		span {
			text-indent: -9999px;
			white-space: nowrap;
			display: block;
			overflow: hidden;
		}
	}
}

p {
	font-family: 'DINPro-Medium';
	font-size: 16px;

	@include media-above($break-large) {
		font-size: 35px;
	}
}

.page .wrap-main {
	h1 {
		font-size: 30px;
		margin: 60px auto 50px;
		line-height: 30px;

		@include media-above($break-large) {
			margin: 60px auto 50px;
			font-size: 100px;
			max-width: 80%;
			line-height: 90px;
		}

		&.page-title {
			font-size: 48px;
			margin: 50px auto 50px;
			max-width: 300px;
			line-height: 48px;

			@include media-above($break-large) {
				margin: 60px auto 50px;
				font-size: 100px;
				max-width: 760px;
				line-height: 90px;
			}			
		}

		&.title-wide {
			max-width: 100%;
			@include span(9);
			float: none;
		}
	}

	p {
		padding: 0 20px;
		margin: 0 auto 20px;
		float: none;
		line-height: 30px;

		&.intro-para {
			font-size: 18px;
			max-width: 90%;
			margin-bottom: 50px;

			@include media-above($break-large) {
				font-size: 35px;
				margin: 0 auto 60px;
			}
		}

		@include media-above($break-large) {
			margin: 0 auto 60px;
			font-size: 35px;
			line-height: 55px;
		}

		&.para-reduced {
			font-size: 16px;
			line-height: 24px;

			@include media-above($break-large) {
				font-size: 30px;
				line-height: 38px;
				margin: 0 auto 30px;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.ellipsis-pre {
	&:before {
		font-family: 'icomoon';
		content: '\e905';
		font-size: 80px;
		line-height: 30px;
		display: block;
	}

	&.ellipsis-link {
		text-transform: uppercase;
		font-size: 14px;
		position: relative;
		display: inline-block;
		padding-top: 30px;
		margin-top: 50px;
		font-family: 'din_mittel_bold';

			&:before {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				top: -30px;
				content: '...';
			}
	}
}

.ellipsis-post {
	margin-bottom: 0!important;
	position: relative;
	padding-bottom: 30px;
	display: block;

	&:after {
		font-family: 'icomoon';
		position: absolute;
		bottom: -25px;
		content: '\e905';
		font-size: 80px;
		line-height: 30px;
		left: 50%;
		transform: translateX(-50%);
	}
}

.contact-email {
	font-family: 'DINPro-Medium', sans-serif;
	font-size: 24px;
	line-height: 48px;
}

.contact-tel {
	font-family: 'DINPro-Medium', sans-serif;
	color: color(blue);
	display: block;
	font-size: 24px;
	line-height: 36px;
}