h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'din_mittel_bold', sans-serif;
	color: color(blue);
	font-weight: normal;
	line-height: 1;
}

h1, h2 {
	font-size: 48px;
	text-align: center;

	@include media-above($break-large) {
		font-size: 100px;
	}
}

h3 {
	font-size: 30px;

	@include media-above($break-large) {
		font-size: 50px;
	}
}

a {
	border: 0;
	color: color(blue);
	text-decoration: none;
	transition: all .4s ease-out;

	&:hover {
		color: color(white);
	}

	&:before {
		transition: all .4s ease-out;
	}

	&.icon {
		span {
			text-indent: -9999px;
			white-space: nowrap;
			display: block;
			overflow: hidden;
		}
	}

	&.med-link {
		margin: 0 auto;
		font-size: 16px;

		@include media-above($break-large) {
			font-size: 30px;
		}
	}
}

p {
	font-family: 'din_mittel_regular';
	font-size: 16px;

	@include media-above($break-large) {
		font-size: 35px;
	}
}

.page .wrap-main {
	h1 {
		margin: 60px auto 50px;
		max-width: 760px;
		line-height: 90px;

		&.title-wide {
			max-width: 100%;
			@include span(9);
			float: none;
		}
	}

	p {
		@include span(8);
		margin: 0 auto 20px;
		float: none;
		padding: 0;

		@include media-above($break-large) {
			margin: 0 auto 60px;
		}
	}
}

.ellipsis-pre {
	&:before {
		content: '.......';
		font-size: 30px;
		display: block;
	}
}

.ellipsis-post {
	&:after {
		content: '.......';
		font-size: 30px;
		display: block;
	}
}