.blog-main {
	background-color: color(stone);

	.blog-content {
		background-color: color(white);
	}
}

.blog > article {
	width: 80%;
	margin: 0 auto;
	text-align: left;
	padding: 40px 0;

	@include media-above($break-large) {
		padding: 60px 0;
	}

	&:after {
		content: '.......';
		font-size: 30px;
		display: block;
		text-align: center;
		color: color(blue);
	}

	.entry-meta {
		font-size: 14px;
	}

	.post-title {
		font-size: 30px;

		@include media-above($break-large) {
			font-size: 40px;
			margin-top: 0;
		}
	}

	h2, h1 {
		font-size: 34px;
	}

	p {
		font-size: 20px;
		line-height: 26px;
		font-family: 'DINPro-Light', sans-serif;

		img {
			display: block;
			margin: 20px auto;
		}

		a {
			&:hover {
				text-decoration: underline;
			}
		}
	}

	table {
		tr {
			td, th {
				color: color(black);
			}
		}
	}
}
