.button {
	font-family: 'DINPro-Medium', sans-serif;
	padding: 20px 40px;
	display: inline-block;
	background-color: color(black);
	color: color(white);
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;

	&:hover {
		background-color: color(blue);
	}

	&.blue {
		background-color: color(blue);
	}

	&.button-expand {
		margin-bottom: 100px;
	}
}