.mt-carousel,
.slick-initialized {
	max-width: 100%;
	height: 400px;

	@include media-above($break-medium) {
		height: 400px;
	}

	@include media-above($break-large) {
		height: 715px;
		margin: 0 auto;
	}
	
	.slick-slide {
		width: 100%;

		img {
			height: 100%;
			position: absolute;
			max-width: initial;
			margin: 0 -100%;

			@include media-above($break-large) {
				margin: 0;
				width: 100%;
				height: initial;
			}
		}
	}

	&.home-carousel {
		height: 200px;

		@include media-above($break-medium) {
			height: 400px;
		}

		@include media-above($break-large) {
			height: 715px;
		}

		img {
			width: 100%;
			height: auto;
		}
	}
		
	.slick-prev,
	.slick-next {
		position: absolute;
		border: none;
		top: 50%;
		transform: translateY(-50%);
		font-size: 0;
		background-color: transparent;
		z-index: 1;

		&:focus {
			outline: none;
		}
		
		&:before {
			color: color(white);
			font-size: 50px;
			content: "\e901";
			z-index: 999;
			font-family: 'icomoon';

			@include media-above($break-large) {
				font-size: 140px;
			}
		}
	}

	.slick-next {
		right: 2%;

		@include media-above($break-large) {
			right: 5%;
		}
	}

	.slick-prev {
		left: 2%;
		
		@include media-above($break-large) {
			left: 5%;
		}

		&:before {
			content: "\e900";
		}
	}

	.slick-dots {
		position: absolute;
		bottom: 5%;
		left: 50%;
		padding: 0;
		transform: translateX(-50%);
		list-style-type: none;

		li {
			float: left;

			button {
				border: none;
				font-size: 0;
				padding: 0;
				background-color: transparent;

				&:focus {
					outline: none;
				}

				&:before {
					z-index: 999;
					font-family: 'icomoon';
					content: '\e904';
					color: rgba(255,255,255, 0.4);
					font-size: 10px;

					@include media-above($break-large) {
						font-size: 20px;
					}
				}
			}

			&.slick-active {
				button {
					&:before {
						color: color(white);
					}
				}
			}
		}
	}

	&.title-carousel {

		.slick-slide {
			position: relative;
			height: 440px;

			@include media-above($break-large) {
				height: 715px;
			}

			h1 {
				position: absolute;
				top: 50%;
				left: 50%;
				color: color(white);
				margin: 0;
				transform: translate(-50%, -50%);
			}
		}
	}
}


.mobile-carousel.slick-initialized {
	height: auto;

	&.featured-list {
		margin-bottom: 30px;
	}

	.slick-slide {
		img {
			margin: 0;
		}
	}

	.slick-dots {
		bottom: -4%;

	
		li {

			button {
				&:before {
					color: rgba(0,186,255, 0.4); // Blue
				}
			}

			&.slick-active {
				button {
					&:before {
						color: color(blue);
					}
				}
			}
		}
	}

	&.testimonial-list {
		&.testimonial-list {
			margin-bottom: 50px;
		}

		.slick-dots {
			bottom: -12%;
		}
	}
}