.wrap-header {
	@extend %wrap;
	padding: 0;
	height: 80px;
	background: color(blue);
	color: color(white);
	width: 100%;

	header[role=banner] {
		@include media-above($break-large) {
			position: relative;
		}

		.site-branding {
			text-transform: uppercase;

			@include media-above($break-large) {
				@include span(2.5);
				padding-top: spacer(1/2);
			}
		}

		.site-navigation {
			clear: both;

			@include media-above($break-large) {
				@include span(5);
				clear: none;
			}

			.menu-inline {

				@include media-above($break-large) {
					display: flex;
					margin: 0 auto;
					width: 380px;
				}

				li {
					margin: auto;
					box-sizing: border-box;
					width: 100%;
					text-align: center;
					font-size: 16px;


					@include media-above($break-large) {
						width: auto;
					}

					a {
						font-family: 'din_mittel_regular';
						color: color(white);
						line-height: 80px;
					}

					&.current-menu-item {
						a {
							color: color(black);
						}
					}
				}
			}
		}


		h1 {
			font-family: 'din_blackregular', sans-serif;
			display: inline;
			float: left;
			font-size: 30px;
			margin: 0;

			a {
				color: color(white);
			}
		}

		.join-cta {
			width: 100%;
			display: block;

			@include media-above($break-large) {
				float: right;
				position: absolute;
				top: 0;
				right: 0;
				height: 80px;
				line-height: 80px;
				padding: 0;
				width: 170px;
				text-transform: uppercase;
			}
		}
	}
}