.wrap-header {
	@extend %wrap;
	padding: 0;
	min-height: 80px;
	background: color(blue);
	color: color(white);
	width: 100%;

	header[role=banner] {
		@include media-above($break-large) {
			position: relative;
		}

		.site-branding {
			text-transform: uppercase;

			@include media-above($break-large) {
				@include span(2.5);
				padding: 0;
			}
		}

		.site-navigation {
			clear: both;

			@include media-above($break-large) {
				@include span(5);
				clear: none;
			}

			.menu-inline {

				@include media-above($break-large) {
					display: flex;
					margin: 0 auto;
					width: 400px;
				}

				li {
					margin: auto;
					box-sizing: border-box;
					width: 100%;
					text-align: center;
					font-size: 16px;


					@include media-above($break-large) {
						width: auto;
					}

					a {
						font-family: 'DINPro-Medium';
						color: color(white);
						letter-spacing: 1px;
						line-height: 80px;
					}

					&.current-menu-item {
						a {
							color: color(black);
						}
					}
				}
			}
		}


		h1 {
			font-family: 'din_mittel_bold', sans-serif;
			display: inline;
			float: left;
			font-size: 20px;
			margin: 0;
			line-height: 80px;

			@include media-above($break-large) {
				font-size: 30px;
				margin-left: 50px;
			}

			a {
				color: color(white);
			}
		}

		.join-cta {
			width: 100%;
			display: block;

			@include media-above($break-large) {
				float: right;
				position: absolute;
				top: 0;
				right: 0;
				height: 80px;
				line-height: 80px;
				padding: 0;
				width: 170px;
				text-transform: uppercase;
			}

			&:after {
				transition: all .4s ease-out;
				bottom: -15px;
				left: 50%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border-color: rgba(34, 34, 34, 0);
				border-top-color: #222222;
				border-width: 15px;
				margin-left: -15px;
				z-index: 9999;				
			}

			&:hover {
				background-color: color(black);
				color: color(blue);
				transition: all .4s ease-out;

				&:after {
					bottom: -30px;
				}
			}

			&.page-active {
				&:after {
					top: 100%;
					left: 50%;
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
					border-color: rgba(34, 34, 34, 0);
					border-top-color: #222222;
					border-width: 15px;
					margin-left: -15px;
					z-index: 9999;
				}
			}
		}

		.icon-menu {
			float: left;
			height: 30px;

			&:before {
				color: color(white);
				font-size: 30px;
				line-height: 75px;
			}
		}
	}
}