.banner-image {
	height: 585px;
	left: 0;
	top: 0;
	z-index: -1;
	max-width: initial;
	position: absolute;
	
	@include media-above($break-large) {
		width: 100%;
		height: auto;
	}
}

.circular-clip {
	background-color: color(stone);
	width: 200px;
	height: 200px;
	margin: 0 auto 20px;
	border-radius: 200px;
	position: relative;
	overflow: hidden;
}
