.featured-list {
	@include scut-clearfix;
	list-style-type: none;
	margin: 0 auto;

	&.team-list {
		@include span(9);
		float: none;

		@include media-above($break-large) {
			@include span(8);
			float: none;
		}

		li {
			padding: 0;

			p {
				font-size: 30px;
				width: 100%;
				position: relative;
				padding: 50px 0;

				&:before, &:after {
					content: '“';
					display: block;
					font-size: 60px;
					position: absolute;
					top: 20px;
					left: 50%;
					transform: translateX(-50%);
					line-height: 45px;
				}

				&:after {
					content: '”';
					bottom: -20px;
					top: initial;
				}
			}
		}
	}

	&.testimonial-list {
		@include span(10);
		margin-bottom: 75px;

		li {
			position: relative;
			padding: 0;

			&:before {
				content: '';
				width: 1px;
				height: 162px;
				background-color: color(border);
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
			}

			&:first-child {
				&:before {
					background-color: transparent;
				}
			}

			p {
				font-size: 25px;
				position: relative;
				padding: 50px 40px;
				max-width: 100%;
				width: 100%;

				&:before, &:after {
					content: '“';
					display: block;
					font-size: 60px;
					position: absolute;
					top: 20px;
					left: 50%;
					transform: translateX(-50%);
					line-height: 45px;
				}

				&:after {
					content: '”';
					bottom: -20px;
					top: initial;
				}
			}
		}
	}

	&.class-list {

		li {
			img {
				display: block;
				margin: 0 auto 20px;
			}
		}
	}

	li {
		text-align: center;
		float: none;
		padding: 0;
		margin: 0 auto;

		@include media-above($break-large) {	
			@include span(3.3);
		}

		.title {
			color: color(blue);
			font-family: 'din_blackregular', sans-serif;
			text-transform: uppercase;
		}

		p {
			font-family: 'thirsty_roughlight', sans-serif;
			color: color(black);
			font-size: 20px;
			width: 100%;
			max-width: 370px;
			margin: 0 auto;
		}		

		.detail p {
			font-family: sans-serif;
		}


	}
}