// ==== NAVIGATION ==== //

.nav-posts {
  @extend %clearfix;
  padding-bottom: 120px;
  width: 80%;
  margin: 0 auto;
}
.nav-previous {
  box-sizing: border-box;
  float: left;
  padding-right: spacer(1/2);
  width: 50%;
}
.nav-next {
  box-sizing: border-box;
  float: right;
  padding-left: spacer(1/2);
  text-align: right;
  width: 50%;
}

.menu-inline {

	  @include media-above($break-large) {
		margin: 0 auto;
		width: 450px;
	  }

	  li {
		margin: auto;
		box-sizing: border-box;
		width: 100%;
		text-align: center;
		font-size: 16px;


		@include media-above($break-large) {
		  width: auto;
		}

		a {
		  font-family: 'DINPro-Medium';
		  color: color(white);
		  letter-spacing: 1px;
		  font-size: 16px;
		  line-height: 80px;
		  padding: 0 12px;
			display: inline-block;

			@include media-above($break-medium) {
			  font-size: 16px;
			}

			@include media-above($break-large) {
			font-size: 18px;
			}
		}

		&.current-menu-item {
			a {
				color: color(black);
			}
		}
	  }
}

footer[role=contentinfo] .site-footer-navigation {

	ul {
		clear: both;
		float: left;
		position: static;

		li {
			text-align: left;
			height: auto;

			@include media-above($break-large) {
				display: inline;
				padding-left: 30px;
			}

			&:after {
				content: none;
			}

			&:before {
				@include media-above($break-large) {
					padding-left: 15px;
					content: '';
					width: 1px;
					left: 0;
					top: 50%;
					transform: translateY(-50%);
					height: 50%;
					position: absolute;
					border-right: 1px solid color(white);
				}
			}

			a {
				font-size: 16px;
				line-height: initial;
				padding: 0;
			}

			&:first-child {
				padding: 0;

				&:before {
					content: none;
				}
			}
		}
	}
}