// ==== NAVIGATION ==== //

.nav-posts {
  @extend %clearfix;
  padding-bottom: 120px;
  width: 80%;
  margin: 0 auto;
}
.nav-previous {
  box-sizing: border-box;
  float: left;
  padding-right: spacer(1/2);
  width: 50%;
}
.nav-next {
  box-sizing: border-box;
  float: right;
  padding-left: spacer(1/2);
  text-align: right;
  width: 50%;
}
