.panel-section {

	.section-content {
		padding-bottom: 0;

		&.hero-content {
			padding: 100px 0 0;

			h1 {
				margin-bottom: 100px;
			}
		}

		h1 {
			font-family: 'din_blackregular', sans-serif;
			color: color(white);
			max-width: 670px;
			margin: 0 auto;
			text-transform: uppercase;
		}
	}

}