.panel-container {
  	@include scut-clearfix;
	margin: 0 auto;

	@include media-above($break-large) {
		@include span(8);
		float: none;
		background-color: white\9;
	}

	&.lightbox-panel {
		background-color: transparent;
	}

	.panel {
		@include span(8.5);
		margin: 0 auto;
		float: none;
		overflow: hidden;
		position: relative;
		padding-bottom: 50px;

		@include media-above($break-large) {
			@include span(5);
			background-color: transparent;
			min-height: 355px;
			text-align: center;
			padding-bottom: spacer(1/4);
		}

		&:before {
			content: '';
			width: 80px;
			height: 1px;
			background-color: color(black);
			position: absolute;
			left: 50%;
			top: 0;
			bottom: 0;
			-webkit-transform: translateX(-50%);
			transform: translateX(-50%);

			@include media-above($break-large) {
				width: 1px;
				height: 80px;
				background-color: color(black);
				position: absolute;
				left: 0;
				top: 50%;
				-webkit-transform: translateY(-50%);
				transform: translateY(-50%);
			}
		}

		&:first-of-type {
			&:before {
				width: 0;
			}

			&.panel-clipped {

				&:after {
					content: '';
					width: 1100%;
					height: 1100%;
					position: absolute;
					top: -10px;
					right: -500%;
					background-color: color(white);
					z-index: -1;

					@include media-above($break-large) {
						transform-origin: 54% 0;
						transform: rotate(45deg);
					}
				}
			}
		}

		&.panel-clipped {
			@include media-above($break-large) {
				position: relative;
			}

      .sister-buttons {
        width: 50%;
        margin: 0 auto;

        .button {
          margin-bottom: 0;

          &:first-child {
              margin: 0 0 5px 0;
          }
        }
      }

		}

		&.right-panel {
			background-color: color(white);
			padding-bottom: 0;

			@include media-above($break-large) {
				background-color: transparent;
			}

		&.panel-clipped {

				&:after {
					content: '';
					width: 1100%;
					height: 1100%;
					position: absolute;
					top: 0;
					left: 250.5%;
					z-index: -1;
					background-color: color(white);

					@include media-above($break-large) {
						transform-origin: 54% 0;
						transform: rotate(45deg);
					}
				}

				h3 {
					margin-top: 50px;
				}
			}
		}

		h3 {
			font-family: 'din_blackregular', sans-serif;
			text-transform: uppercase;
			margin-bottom: 20px;
		}

		p {
			font-family: 'din_mittel_regular';
			margin-bottom: spacer(1/2);
			font-size: 16px;
			max-width: 300px;
			line-height: 24px;

			@include media-above($break-large) {
				font-size: 20px;
				line-height: 30px;
			}
		}
	}

	&.primary-panels h3,
	&.secondary-panels h4,
	&.tertiary-panels h4 {
		text-transform: initial;
		font-family: 'din_mittel_bold', sans-serif;
	}

	&.secondary-panels {

		.panel {
			width: 50%;
			padding: 0 15px 0 30px;

			@include media-above($break-large) {
				min-height: 0;
			}

			&:before {
				content: none;
			}

			&.right-panel {
				.panel {
					padding: 0 30px 0 15px;
				}
			}

			h4 {
				font-size: 36px;
				max-width: 230px;
				color: color(darkstone);
			}

			&.js-active {
				h4 {
					color: color(blue);

					&:after {
						font-family: 'icomoon';
						content: '\e902';
						margin-top: 10px;
						display: block;
						line-height: 20px;
						transform: rotate(180deg);
						font-size: 20px;

						@include media-above($break-large) {
							font-size: 40px;
							margin-top: 30px;
						}
					}
				}
			}
		}
	}

	&.tertiary-panels {
		.panel {
			display: none;
			width: 100%;
			min-height: 0;

			&:before {
				content: none;
			}

			&.js-active {
				display: block;

				p {
					font-size: 16px;
					@include span(8);
					float: none;
					margin: 10px auto 30px;
					line-height: 24px;
					max-width: initial;

					@include media-above($break-large) {
						max-width:700px;
						margin: 50px auto 30px;
						font-size: 35px;
						line-height: 55px;
					}
				}
			}

			.small-link {
				margin-top: 30px;
				display: inline-block;
				clear: both;
			}

		}
	}
}
