.panel-section {

	.section-content {
		padding-bottom: 0;

		h1 {
			font-family: 'din_blackregular', sans-serif;
			color: color(white);
			max-width: 670px;
			margin: 0 auto;
			text-transform: uppercase;
		}
	}

}