table {
	display: none;
	width: 100%;
	padding: 0 20px;
	margin-top: 55px;

	@include media-above($break-large) {
		display: table;
		padding: 0 30px;
		margin-top: 80px;
	}

	tr {

		&.border {

			td, th {
				border-bottom: 1px solid color(eggshell);
				height: 30px;

				&:first-child {
					border-bottom: 0;
				}
			}
		}

		&.row-border {
			td, th {
				border-bottom: 1px solid color(eggshell);
			}

			&.padding-bottom {
				td, th {
					padding-bottom: 18px;
				}
			}
				
		}

		&.topspace {
			td, th {
				padding-top: 35px;

				&:nth-child(2){
					color: color(black);
				}
			}

			&.med {
				td, th {
					padding-top: 25px;
				}
			}
		}

		td,
		th {
			color: color(white);
			font-size: 18px;
			font-family: 'DINPro-Medium', sans-serif;

			&:first-child {
				text-align: left;
				text-transform: uppercase;
				font-size: 18px;
				font-family: 'din_blackregular', sans-serif;
			}

			&:nth-child(2){
				font-size: 20px;
				text-align: left;
			}

			&.sum {
				font-size: 36px;
				color: color(black);
				font-family: 'din_mittel_bold', sans-serif;
			}

			&.leftalign {
				text-align: left;
			}

		}

		th {
			padding-bottom: 15px;
			text-transform: uppercase;
			font-family: 'din_mittel_bold', sans-serif;
		}

		&.terms {
			td, th,
			td:nth-child(2) {
				font-size: 16px;
				color: color(white);
				padding-bottom: 20px;
			}
		}
	}

	&.mobile-price-table {
		display: table;
		padding: 0 15px;

		@include media-above($break-large) {
			display: none;
		}

		tr {
			th {
				font-size: 14px;
				font-family: 'DINPro-Medium';
				text-align: center;
			}

			td {
				&.title-row {
					padding: 18px 0;
					font-family: 'DINPro-Medium';
					text-transform: uppercase;
					border-bottom: 1px solid color(eggshell);
				}

				&.black-title-row {
					color: color(black);
					text-transform: uppercase;
					padding-top: 18px;
					font-size: 16px;
				}

				&.duration-row {
					text-transform: initial;
					padding-bottom: 18px;
					font-family: 'DINPro-Medium';
					font-size: 16px;
					border-bottom: 1px solid color(eggshell);

					&.terms {
						border-bottom: 0;
						font-family: 'DINPro-Light';

						&.padding-top {
							padding-top: 18px;
						}
					}
				}
			}

			&.thirds-divided-row {
				td {
					padding: 20px;
					text-align: center;
					border-right: 1px solid color(eggshell);
					border-bottom: 1px solid color(eggshell);

					&:last-child {
						border-right: 0;
					}

					&.sum {
						font-size: 24px;
					} 

					> span {
						display: block;
						text-transform: initial;
						font-family: 'DINPro-Light';
						font-size: 14px;
						color: color(white);
					}
				}
			}
		}

	}

}